<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Plugin CSS -->
    <link rel="stylesheet" type="text/css" href="assets/vendor/photoswipe/photoswipe.min.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/photoswipe/default-skin/default-skin.min.css">
    <!-- Swiper CSS -->
    <link rel="stylesheet" type="text/css" href="assets/vendor/swiper/swiper-bundle.min.css">

    <!-- Default CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.min.css">
</head>

<body>
    <div class="page-wrapper">
        


        <!-- Start of Main -->
        <main class="main mb-10 pb-1">
            

            <!-- Start of Page Content -->
            <div class="page-content">
                <div class="container">
                    <div class="row gutter-lg">
                        <div class="main-content">
                            <div class="product product-single row">
                                <div class="col-md-6 mb-6">
                                    <div class="product-gallery product-gallery-sticky product-gallery-vertical">
                                        <div class="swiper-container product-single-swiper swiper-theme nav-inner"
                                            data-swiper-options="{
                                            'navigation': {
                                                'nextEl': '.swiper-button-next',
                                                'prevEl': '.swiper-button-prev'
                                            }
                                        }">
                                            <div class="swiper-wrapper row cols-1 gutter-no">
                                                <div class="swiper-slide">
                                                    <figure class="product-image">
                                                        <img src="assets/images/products/vertical_thumb/1-800x900.jpg"
                                                            data-zoom-image="assets/images/products/vertical_thumb/1-800x900.jpg"
                                                            alt="Electronics Black Wrist Watch" width="800"
                                                            height="900">
                                                    </figure>
                                                </div>
                                                <div class="swiper-slide">
                                                    <figure class="product-image">
                                                        <img src="assets/images/products/vertical_thumb/2-800x900.jpg"
                                                            data-zoom-image="assets/images/products/vertical_thumb/2-800x900.jpg"
                                                            alt="Electronics Black Wrist Watch" width="488"
                                                            height="549">
                                                    </figure>
                                                </div>
                                                <div class="swiper-slide">
                                                    <figure class="product-image">
                                                        <img src="assets/images/products/vertical_thumb/3-800x900.jpg"
                                                            data-zoom-image="assets/images/products/vertical_thumb/3-800x900.jpg"
                                                            alt="Electronics Black Wrist Watch" width="800"
                                                            height="900">
                                                    </figure>
                                                </div>
                                                <div class="swiper-slide">
                                                    <figure class="product-image">
                                                        <img src="assets/images/products/vertical_thumb/4-800x900.jpg"
                                                            data-zoom-image="assets/images/products/vertical_thumb/4-800x900.jpg"
                                                            alt="Electronics Black Wrist Watch" width="800"
                                                            height="900">
                                                    </figure>
                                                </div>
                                            </div>
                                            <button class="swiper-button-next"></button>
                                            <button class="swiper-button-prev"></button>
                                            <a href="#" class="product-gallery-btn product-image-full"><i
                                                    class="w-icon-zoom"></i></a>
                                        </div>
                                        <div class="product-thumbs-wrap swiper-container" data-swiper-options="{
                                            'navigation': {
                                                'nextEl': '.swiper-button-next',
                                                'prevEl': '.swiper-button-prev'
                                            },
                                            'breakpoints': {
                                                '992': {
                                                    'direction': 'vertical',
                                                    'slidesPerView': 'auto'
                                                }
                                            }
                                        }">
                                            <div class="product-thumbs swiper-wrapper row cols-lg-1 cols-4 gutter-sm">
                                                <div class="product-thumb swiper-slide">
                                                    <img src="assets/images/products/vertical_thumb/1-800x900.jpg"
                                                        alt="Product Thumb" width="800" height="900">
                                                </div>
                                                <div class="product-thumb swiper-slide">
                                                    <img src="assets/images/products/vertical_thumb/2-800x900.jpg"
                                                        alt="Product Thumb" width="800" height="900">
                                                </div>
                                                <div class="product-thumb swiper-slide">
                                                    <img src="assets/images/products/vertical_thumb/3-800x900.jpg"
                                                        alt="Product Thumb" width="800" height="900">
                                                </div>
                                                <div class="product-thumb swiper-slide">
                                                    <img src="assets/images/products/vertical_thumb/4-800x900.jpg"
                                                        alt="Product Thumb" width="800" height="900">
                                                </div>
                                            </div>
                                            <button class="swiper-button-prev"></button>
                                            <button class="swiper-button-next"></button>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>

                            
                           
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- End of Page Content -->
        </main>
        <!-- End of Main -->

       
    </div>
    <!-- End of Page Wrapper -->

    

    <!-- Start of Scroll Top -->
    <a id="scroll-top" class="scroll-top" href="#top" title="Top" role="button"> <i class="w-icon-angle-up"></i> <svg
            version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70">
            <circle id="progress-indicator" fill="transparent" stroke="#000000" stroke-miterlimit="10" cx="35" cy="35"
                r="34" style="stroke-dasharray: 16.4198, 400;"></circle>
        </svg> </a>
    <!-- End of Scroll Top -->

    

    <!-- Root element of PhotoSwipe. Must have class pswp -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe. It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
			PhotoSwipe keeps only 3 of them in the DOM to save memory.
			Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" aria-label="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--zoom" aria-label="Zoom in/out"></button>

                    <div class="pswp__preloader">
                        <div class="loading-spin"></div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button--arrow--left" aria-label="Previous (arrow left)"></button>
                <button class="pswp__button--arrow--right" aria-label="Next (arrow right)"></button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of PhotoSwipe -->

    

    <!-- Plugin JS File -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/zoom/jquery.zoom.js"></script>
    <script src="assets/vendor/photoswipe/photoswipe.min.js"></script>
    <script src="assets/vendor/photoswipe/photoswipe-ui-default.min.js"></script>

    <!-- Swiper JS File -->
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Main JS File -->
    <script src="assets/js/main.min.js"></script>
</body>
</html>